In [2]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print('Main List', list1)
tuple1= ('Nigeria', 'Ghana', 'Kenya', 'Togo', 'Benin')
print('Countries',tuple1)

Main List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Countries ('Nigeria', 'Ghana', 'Kenya', 'Togo', 'Benin')

In [3]:
print(list1[2])
print(tuple1[2])
print(list1[-1])

3
Kenya
10

In [4]:
list1[1]=3
print(list1)
list1[0:5]
tuple1[0:3]

[1, 3, 3, 4, 5, 6, 7, 8, 9, 10]

('Nigeria', 'Ghana', 'Kenya')

In [5]:
if 2 in list1:
    print('yes 3 is in list')
else:
    print('2 is not in list')

if 3 not in tuple1:
    print('tuple is a list of countries')
else:
    print('tuple has a value')

2 is not in list
tuple is a list of countries

In [6]:
list1.append(11)
list1.insert(1, 5)
list1

[1, 5, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [7]:
list1.remove(3)
list1

[1, 5, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [8]:
list1.pop(3)

4

In [9]:
list1.index(6)

4

In [10]:
list1.count(5)

2

In [11]:
list1.sort()
list1

[1, 3, 5, 5, 6, 7, 8, 9, 10, 11]

In [12]:
list1.sort(reverse=True)
list1

[11, 10, 9, 8, 7, 6, 5, 5, 3, 1]

In [13]:
list1.reverse()
list1

[1, 3, 5, 5, 6, 7, 8, 9, 10, 11]

In [14]:
tuple2 = ('USA', 'UK', 'Canada')
main= tuple1 + tuple2
print(tuple1 , tuple2)

('Nigeria', 'Ghana', 'Kenya', 'Togo', 'Benin') ('USA', 'UK', 'Canada')

In [15]:
var = 'boy'
num = 5
print(f'{var}',num)

boy 5

In [16]:
power3= tuple1*3
print(power3)

('Nigeria', 'Ghana', 'Kenya', 'Togo', 'Benin', 'Nigeria', 'Ghana', 'Kenya', 'Togo', 'Benin', 'Nigeria', 'Ghana', 'Kenya', 'Togo', 'Benin')

In [17]:
tuple1
nig, gh, *keny = tuple1
print(nig)
print(gh)
print(keny)
print(nig,gh,keny)

Nigeria
Ghana
['Kenya', 'Togo', 'Benin']
Nigeria Ghana ['Kenya', 'Togo', 'Benin']

In [18]:
tuple1.count('Nigeria')

1

In [19]:
tuple1.index('Kenya')

2

In [20]:
list1
new_list= [x**2 for x in list1]
print(new_list)

[1, 9, 25, 25, 36, 49, 64, 81, 100, 121]

In [21]:
new_list1 = [x for x in range(1,21) if x%2==0]
print(new_list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
tuple1 = ('USA', 'UK', 'Canada')
new_tuple = list(tuple1)
new_tuple.append('Germany')
new_tuple

['USA', 'UK', 'Canada', 'Germany']

In [23]:
new_tuple.extend(['France', 'Italy'])
print(new_tuple)

['USA', 'UK', 'Canada', 'Germany', 'France', 'Italy']

In [24]:
list1
new_list2 = tuple(list1)
print(new_list2)

(1, 3, 5, 5, 6, 7, 8, 9, 10, 11)

In [25]:
tuples_list = [(x, x**2) for x in range (1,11)]
print(tuples_list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [26]:
nested_list = [[1,2],[3,4],[5,6]]
flat_nest = [items for sublist in nested_list for items in sublist]
print(flat_nest)

[1, 2, 3, 4, 5, 6]

In [27]:
odd_list = [x for x in range(1,21) if x%2!=0]
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
sum_list = sum(odd_list)
print(sum_list)

100

In [29]:
odd_list = [1,3,5,7,9]
a = 1
for i in odd_list:
    a= a*i
print(a)

945

In [30]:
odd_list = [1,3,5,7,9]
first = odd_list.pop(0)
second = odd_list.pop(-1)
swap_list =[second] + odd_list + [first]
print(swap_list)

[9, 3, 5, 7, 1]

In [31]:
merge1 = odd_list + swap_list 
merge_list = set(merge1)
print(merge_list)

{1, 3, 5, 7, 9}

In [32]:
merge1
dict = {}
for i in merge1:
    dict[i]= merge1.count(i)
print(dict)

{3: 2, 5: 2, 7: 2, 9: 1, 1: 1}

In [33]:
element= [(1,2),(3,4),(5,6)]
first_element = list(element[0])
second_element = list(element[1])
print(first_element)
print(second_element)

[1, 2]
[3, 4]

In [34]:
list1= ['main','touch','boy','love']
tuple_5=()
main = []
for key,value in enumerate(list1):
    main.append(len(value))
    tuple_5 = tuple(main)
print(tuple_5)

(4, 5, 3, 4)

In [35]:
list1= ['main','touch','boy','love']
tuple_5= tuple(len(value)for value in list1)
print(tuple_5)

(4, 5, 3, 4)

**CHAT GBT TASK**

In [36]:
df=pd.Series([15.99, 23.50, 8.75, 45.25, 32.99],indices= ['A001', 'A002', 'A003', 'A004', 'A005'])
df.head(3)

NameError: name 'pd' is not defined

In [ ]:
df.tail(2)

In [ ]:
df.mean()