In [103]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print('Main List', list1)
tuple1= ('Nigeria', 'Ghana', 'Kenya', 'Togo', 'Benin')
print('Countries',tuple1)

Main List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Countries ('Nigeria', 'Ghana', 'Kenya', 'Togo', 'Benin')

In [104]:
print(list1[2])
print(tuple1[2])
print(list1[-1])

3
Kenya
10

In [105]:
list1[1]=3
print(list1)
list1[0:5]
tuple1[0:3]

[1, 3, 3, 4, 5, 6, 7, 8, 9, 10]

('Nigeria', 'Ghana', 'Kenya')

In [106]:
if 2 in list1:
    print('yes 3 is in list')
else:
    print('2 is not in list')

if 3 not in tuple1:
    print('tuple is a list of countries')
else:
    print('tuple has a value')

2 is not in list
tuple is a list of countries

In [107]:
list1.append(11)
list1.insert(1, 5)
list1

[1, 5, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [108]:
list1.remove(3)
list1

[1, 5, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [109]:
list1.pop(3)

4

In [110]:
list1.index(6)

4

In [111]:
list1.count(5)

2

In [112]:
list1.sort()
list1

[1, 3, 5, 5, 6, 7, 8, 9, 10, 11]

In [113]:
list1.sort(reverse=True)
list1

[11, 10, 9, 8, 7, 6, 5, 5, 3, 1]

In [114]:
list1.reverse()
list1

[1, 3, 5, 5, 6, 7, 8, 9, 10, 11]

In [115]:
tuple2 = ('USA', 'UK', 'Canada')
main= tuple1 + tuple2
print(tuple1 , tuple2)

('Nigeria', 'Ghana', 'Kenya', 'Togo', 'Benin') ('USA', 'UK', 'Canada')

In [116]:
var = 'boy'
num = 5
print(f'{var}',num)

boy 5

In [117]:
power3= tuple1*3
print(power3)

('Nigeria', 'Ghana', 'Kenya', 'Togo', 'Benin', 'Nigeria', 'Ghana', 'Kenya', 'Togo', 'Benin', 'Nigeria', 'Ghana', 'Kenya', 'Togo', 'Benin')

In [118]:
tuple1
nig, gh, *keny = tuple1
print(nig)
print(gh)
print(keny)
print(nig,gh,keny)

Nigeria
Ghana
['Kenya', 'Togo', 'Benin']
Nigeria Ghana ['Kenya', 'Togo', 'Benin']

In [119]:
tuple1.count('Nigeria')

1

In [120]:
tuple1.index('Kenya')

2

In [121]:
list1
new_list= [x**2 for x in list1]
print(new_list)

[1, 9, 25, 25, 36, 49, 64, 81, 100, 121]

In [122]:
new_list1 = [x for x in range(1,21) if x%2==0]
print(new_list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [123]:
tuple1 = ('USA', 'UK', 'Canada')
new_tuple = list(tuple1)
new_tuple.append('Germany')
new_tuple

['USA', 'UK', 'Canada', 'Germany']

In [124]:
new_tuple.extend(['France', 'Italy'])
print(new_tuple)

['USA', 'UK', 'Canada', 'Germany', 'France', 'Italy']

In [125]:
list1
new_list2 = tuple(list1)
print(new_list2)

(1, 3, 5, 5, 6, 7, 8, 9, 10, 11)

In [126]:
tuples_list = [(x, x**2) for x in range (1,11)]
print(tuples_list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [127]:
nested_list = [[1,2],[3,4],[5,6]]
flat_nest = [items for sublist in nested_list for items in sublist]
print(flat_nest)

[1, 2, 3, 4, 5, 6]

In [128]:
odd_list = [x for x in range(1,21) if x%2!=0]
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [129]:
sum_list = sum(odd_list)
print(sum_list)

100

In [130]:
odd_list = [1,3,5,7,9]
a = 1
for i in odd_list:
    a= a*i
print(a)

945

In [131]:
odd_list = [1,3,5,7,9]
first = odd_list.pop(0)
second = odd_list.pop(-1)
swap_list =[second] + odd_list + [first]
print(swap_list)

[9, 3, 5, 7, 1]

In [132]:
merge1 = odd_list + swap_list 
merge_list = set(merge1)
print(merge_list)

{1, 3, 5, 7, 9}

In [134]:
merge1
dict = {}
for i in merge1:
    dict[i]= merge1.count(i)
print(dict)

{3: 2, 5: 2, 7: 2, 9: 1, 1: 1}

In [ ]:
element= [(1,2),(3,4),(5,6)]